@media screen {

html {
	height:100%;
}
html,body {
	margin:0;
	padding:0;
	overflow:visible;
	background:#A3C8FF;
}
body {
	min-height:100%;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:1 1 auto;
	    -ms-flex:1 1 auto;
	        flex:1 1 auto;
	font:300 15px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body.zoomed {
	-webkit-transform:scaleZ(2);
	        transform:scaleZ(2);
}
html.loading body {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:1 1 100%;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
}
h1, h2, h3 {
	margin-top:0;
}
/*
body
	#main
		#sidebar
			#boards
			#info
			#help
		#board
			#tools
			#wrapper
				.column
					.card
*/
#main {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	    -ms-flex-flow:row nowrap;
	        flex-flow:row nowrap;
	-webkit-flex:1 1 100%;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
	-webkit-align-self:stretch;
	    -ms-flex-item-align:stretch;
	        align-self:stretch;
	justify-self:stretch;
}

#sidebar {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:60px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:column nowrap;
	    -ms-flex-flow:column nowrap;
	        flex-flow:column nowrap;
	-webkit-justify-content:space-between;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	background:rgba(0, 0, 0, 0.8);
	font-size:16px;
	line-height:2;
	z-index:2;
}

	#sidebar button {
		margin:0;
		padding:10px 4px;
		border:none;
		color:#ccc;
		background:none;
		font-size:13px;
		font-family:inherit;
		cursor:pointer;
	}

	#sidebar button:hover {
		color:#fff;
		text-decoration:underline;
	}

	#sidebar button:first-letter {
		text-decoration:underline;
	}

#board {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:1 1 auto;
	    -ms-flex:1 1 auto;
	        flex:1 1 auto;
	margin-left:60px;
	position:relative;
	-webkit-flex-flow:column nowrap;
	    -ms-flex-flow:column nowrap;
	        flex-flow:column nowrap;
	-webkit-align-items:stretch;
	    -ms-flex-align:stretch;
	        align-items:stretch;
	-webkit-justify-content:stretch;
	    -ms-flex-pack:stretch;
	        justify-content:stretch;
	z-index:1;
}

.loading #board {
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	background:url(../goalie.png) no-repeat 50% 25%;
}

#tools {
	position:fixed;
	right:0;
	left:60px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	    -ms-flex-flow:row nowrap;
	        flex-flow:row nowrap;
	z-index:2;
}

	#tools .button {
		position:relative;
		-webkit-flex:1 1 100%;
		    -ms-flex:1 1 100%;
		        flex:1 1 100%;
		margin:10px;
		border-radius:4px;
		background:#fff;
	}

	#tools button {
		display:block;
		width:100%;
		margin:0;
		padding:15px 0;
		border:none;
		font-weight:500;
		font-size:18px;
		font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color:#666;
		background:none;
		cursor:pointer;
		text-align:center;
	}

	#tools button:hover {
		color:#000;
	}

	.button-info {
		position:absolute;
		top:100%;
		width:100%;
		box-sizing:border-box;
		margin-top:10px;
		padding:15px;
		border-radius:4px;
		border-top-right-radius:0;
		color:#fff;
		background:rgba(0, 0, 0, 0.8);
		font-size:16px;
		box-shadow:0 4px 20px rgba(0, 0, 0, 0.5);
		pointer-events:none;
		opacity:0;
		-webkit-transform:translateY(20px);
		transform:translateY(20px);
		transition:none;
	}

	.button > b {
		position:absolute;
		right:5px;
		bottom:5px;
		color:#666;
		cursor:help;
		opacity:0.6;
	}

	.button:hover > b {
		opacity:1;
	}

	.button > b:hover + .button-info {
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0);
		transition:0.4s opacity, 0.3s -webkit-transform;
		transition:0.4s opacity, 0.3s transform;
	}

	.button-info:before {
		content:"";
		display:block;
		position:absolute;
		width:0px;
		height:0px;
		top:-24px;
		right:0;
		border:12px solid transparent;
		border-bottom-color:rgba(0, 0, 0, 0.8);
	}

#wrapper {
	position:relative;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin-top:70px;
	-webkit-flex-flow:row nowrap;
	    -ms-flex-flow:row nowrap;
	        flex-flow:row nowrap;
	-webkit-flex:1 1 auto;
	    -ms-flex:1 1 auto;
	        flex:1 1 auto;
	z-index:1;
	overflow-y:auto;
}

#message {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	text-align:center;
	z-index:100;
	background:#ffc;
}

#loginform {
	-webkit-align-self:center;
	    -ms-flex-item-align:center;
	        align-self:center;
	font-size:18px;
	overflow-y:auto;
}

	#loginform label {
		display:block;
	}

	#loginform input {
		padding:8px;
		border:1px solid #ccc;
		border-radius:4px;
		font-size:1em;
	}

	#loginform label + input {
		width:15em;
	}

	#loginform input[type="submit"] {
		margin:0;
		padding:15px 40px;
		border:none;
		border-radius:4px;
		font-weight:500;
		font-size:18px;
		font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color:#666;
		background:#fff;
		cursor:pointer;
	}

.column {
	position:relative;
	-webkit-perspective:5000;
	perspective:5000;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:1 1 100%;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
	-webkit-flex-direction:column;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	counter-reset:prio +1;
	opacity:1;
}

.loading .column {
	opacity:0;
	transition:0.2s opacity ease-in-out;
}

.column > .card {
	position:relative;
	-webkit-flex:0 0 auto;
	    -ms-flex:0 0 auto;
	        flex:0 0 auto;
	margin:5px 10px;
	border-radius:4px;
	font-family:Helvetica, sans-serif;
	cursor:move;
	background:rgba(255, 255, 255, 0.5);
	box-shadow:0 2px 0 rgba(0,0,0,0.3);
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transform:rotateY(0deg);
	        transform:rotateY(0deg);
	transition:0.4s background-color ease, 0.4s -webkit-transform ease;
	transition:0.4s background-color ease, 0.4s transform ease;
	z-index:1;
}

.card p:first-child {
	font-weight:600;
}

.card.flipped:hover {
	color:#fff;
	background:#666;
	box-shadow:0 2px 0 rgba(0,0,0,0.6);
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.card .front,
.card .back {
	position:relative;
	width:100%;
	min-height:4em;
	padding:10px;
	box-sizing:border-box;
	pointer-events:none;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.card .back {
	position:absolute;
	top:0;
	background:inherit;
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.card.flipped {
	overflow:hidden;
}

.card.flipped:hover .front {
	position:absolute;
	visibility:hidden;
}

.card.flipped:hover .back {
	position:relative;
	-webkit-backface-visibility:visible;
	backface-visibility:visible;
}

.card.flipped:hover #edit {
	display:none;
}

.card * {
	margin-top:0;
	margin-bottom:0;
}

.fat .card {
	-webkit-flex-grow:1;
	    -ms-flex-positive:1;
	        flex-grow:1;
}

.fat .card .front,
.fat .card .back {
	min-height:1em;
}

.ui-dialog-content .front {
	padding:0;
}

.ui-dialog-content .back {
	display:none;
}

.card.ui-sortable-helper {
	background:rgba(255, 255, 255, 0.9);
	box-shadow:0 4px 10px rgba(0,0,0,0.5);
	z-index:1;
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
}

.card.hover:not(.related) {
	background-color:rgba(255, 255, 255, 1);
}

.card.related {
	background-color:rgba(255, 255, 255, 1);
}

.card > #edit {
	display:none;
	position:absolute;
	bottom:0;
	right:0;
	margin:0 -2px 0 0;
	padding:5px 10px 2px;
	border:none;
	color:#666;
	background:none;
	font:normal 24px Helvetica, sans-serif;
	cursor:pointer;
	opacity:0.6;
}

.card:hover > #edit {
	display:block;
}

.card > #edit:hover,
.card > #edit:focus,
.card > #edit:active {
	opacity:1;
}

.noScroll #relations,
.noScroll #edit {
	display:none;
}

.divider {
	position:relative;
	margin:-5px 10px;
	padding:5px 0;
	background:#666;
	cursor:row-resize;
}

.divider:before {
	display:block;
	position:absolute;
	right:0;
	margin-top:-10px;
	padding:2px 4px;
	border-radius:4px;
	color:#666;
	background-color:#f6f6f6;
	font-size:0.8em;
	counter-increment:prio;
	content:"\25BC  Prio " counter(prio);
}

.ui-dialog .ui-dialog-title,
.ui-dialog .ui-dialog-content {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.ui-dialog textarea {
	width:100%;
	font-weight:600;
	font-size:1.2em;
	box-sizing:border-box;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body > #edit {
	display:none;
}

/* Canvas */
#relations {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none;
	z-index:100;
}

/* Sidebar */
#boards,
#about,
#help {
	position:fixed;
	left:60px;
	right:100%;
	background:rgba(0, 0, 0, 0.8);
	opacity:0;
	transition:opacity 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.layer .inner {
	height:100%;
	padding:10% 25%;
	box-sizing:border-box;
	color:#fff;
	overflow:auto;
	visibility:hidden;
}

.layer .inner a {
	border-bottom:1px solid rgba(255, 255, 255, 0.5);
	color:inherit;
	text-decoration:none;
}

.show-boards .inner,
.show-about .inner,
.show-help .inner {
	visibility:visible;
	transition:0.1s visibility ease-in-out 0.2s;
}

#boards {
	top:0;
	bottom:100%;
}

	#boards ul {
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:row wrap;
		    -ms-flex-flow:row wrap;
		        flex-flow:row wrap;
		margin:0;
		padding:0;
		list-style:none;
	}

	#boards .board {
		position:relative;
		float:left;
		width:45%;
		margin:0 5% 20px 0;
		padding:15px 25px;
		border-radius:5px;
		background:rgba(0, 0, 0, 0.2);
		box-sizing:border-box;
		overflow:hidden;
	}

	#boards .board a:hover:after {
		background:rgba(0, 0, 0, 0.1);
	}

	#boards .board a:after {
		content:"";
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}

#about {
	top:50%;
	bottom:50%;
}

#help {
	top:100%;
	bottom:0;
}

	#help kbd {
		display:inline-block;
		min-width:1em;
		margin:0 0.1em;
		padding:0.25em 0.4em;
		border-radius:0.25em;
		border:none;
		cursor:default;
		color:rgb(50, 50, 50);
		background:rgb(250, 250, 250);
		background:-moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
		background:-webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
		background:gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
		font:normal 1.2em/1 "Lucida Grande", Lucida, Arial, sans-serif;
		text-align:center;
		text-shadow:0 0 2px rgb(255, 255, 255);
		box-shadow:inset 0 0 1px rgb(255, 255, 255), inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130), 0 0.11em 0 rgba(0, 0, 0, .4), 0 0.1em 0.11em rgba(0, 0, 0, .9);
	}

.show-boards #boards,
.show-about #about,
.show-help #help {
	top:0;
	right:0;
	bottom:0;
	opacity:1;
}

.show-boards #sidebar .toggle-boards,
.show-about #sidebar .toggle-about,
.show-help #sidebar .toggle-help {
	color:#fff;
	text-decoration:underline;
}

.show-boards #board,
.show-about #board,
.show-help #board {
	-webkit-filter:blur(10px);
	filter:blur(10px);
}

}
/* End Screen */

/* Print */
@media print {
	@page {
		size:portrait;
	}

	body {
		font-size:80%;
	}

	*[style] {
		height:auto !important;
		width:auto !important;
		background:none !important;
	}

	#sidebar,
	#message,
	#edit,
	#tools,
	#relations,
	#relations + div:last-child,
	#help,
	.card .back {
		display:none !important;
	}

	.column {
		float:left;
		width:20%;
		padding-left:5%;
		font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

	.column.goals:before,
	.column.profiles:before,
	.column.profilegoals:before,
	.column.tasks:before {
		display:block;
		margin:1.7em 0 0.5em;
		font-size:14px;
		font-weight:bold;
	}

	.card {
		padding:0.3em 0;
	}

	.card:hover,
	.card.related {
		font-weight:bold;
	}

	.divider {
		margin:0.7em 0;
		border-bottom:1px solid #000;
	}

}
/* End Print */